[submodule "skyquery"]
	path = skyquery
	url = git@github.com:idies/skyquery.git
[submodule "graywulf"]
	path = graywulf
	url = git@github.com:idies/graywulf.git
[submodule "sharpfitsio"]
	path = sharpfitsio
	url = git@github.com:idies/sharpfitsio.git
